<!--The content below is only a placeholder and can be replaced.-->
<div class="outer-container">
  <header>
	  <mat-toolbar>
	    <span><a href="/">BART</a></span>
	    <span class="fill-remaining-space"></span>
	    <nav class="mr-auto p-2 align-items-end">
	      <a href="/stations">Stations | </a> 
	      <a href="/trips">Trips</a> 
	    </nav>
	  </mat-toolbar>
  </header>

  <div class="container">
  	<section>
  		<header>
  			<h2>Stations</h2>
  		</header>
  		<table class="table table-bordered">
	        <thead>
	          <tr>
	            <th scope="col">Name</th>
	            <th scope="col">Abbr</th>
	            <th scope="col">Address</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr *ngFor="let stationItem of stations.station">
	            <td>{{ stationItem.name }}</td>
	            <td>{{ stationItem.abbr }}</td>
	            <td><address>{{ stationItem.address }}, {{ stationItem.city }}, {{ stationItem.county }}, {{ stationItem.state }}, {{ stationItem.zipcode }}</address></td>
	          </tr>
	        </tbody>
        </table>
	</section>
  </div>

  <footer class="footer">
    <div class="d-flex justify-content-center">
      <span class="btn btn-outline-customlight text-light">Copyright © 2019 - Designed and developed by <a class="text-light" href="https://github.com/varna-vincent" target="_blank">Varna Vincent</a></span>
    </div>
  </footer>
</div>
