<!--The content below is only a placeholder and can be replaced.-->
<div class="outer-container">
  <mat-toolbar>
    <span><a href="/">BART</a></span>
    <span class="fill-remaining-space"></span>
    <nav class="mr-auto p-2 align-items-end">
      <a href="/stations">Stations | </a> 
      <a href="/trips">Trips</a> 
    </nav>
  </mat-toolbar>

  <div class="container">
  	<article class="content mt-2 ml-auto d-flex align-items-center">
	    <header class="container-fluid">
	      <h1 class="display-4 text-dark text-right">Stations</h1>
	      <p class="lead text-dark text-right">Bay Area Rapid Transit (BART) connects the San Francisco Peninsula with Berkeley, Oakland, Fremont, Walnut Creek, Dublin/Pleasanton and other cities in the East Bay. For more than 45 years BART has provided fast, reliable transportation to downtown offices, shopping centers, tourist attractions, entertainment venues, universities and other destinations for Bay Area residents and visitors alike.</p>
	    </header>
	  </article>
  </div>

  <footer class="footer">
    <div class="d-flex justify-content-center">
      <span class="btn btn-outline-customlight text-light">Copyright © 2019 - Designed and developed by <a class="text-light" href="https://github.com/varna-vincent" target="_blank">Varna Vincent</a></span>
    </div>
  </footer>
</div>
