mat-toolbar {
	background: none;	
}

span, a {
	color: #FFF;
	text-decoration: none;
}

.outer-container {
	text-align:center;
	width: 100vw;
	min-height: 100vh;
	background-image: url("../../../assets/retro5.gif");
	background-repeat: no-repeat;
    background-size: 100% 125%;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.content {
	height: 85vh;
}

