<div class="d-flex flex-row justify-content-center">
	<div id="hour-countdown" class="countdown text-dark">
	  <div id="hour-countdown-number"></div>
	  <svg>
	    <circle r="18" cx="20" cy="20"></circle>
	  </svg>
	  hours
	</div>

	<div id="min-countdown" class="countdown text-dark">
	  <div id="min-countdown-number"></div>
	  <svg>
	    <circle r="18" cx="20" cy="20"></circle>
	  </svg>
	  min(s)
	</div>

	<div id="sec-countdown" class="countdown text-dark">
	  <div id="sec-countdown-number"></div>
	  <svg>
	    <circle r="18" cx="20" cy="20"></circle>
	  </svg>
	  sec(s) 
	</div>
</div>
