<div class="d-flex flex-row justify-content-center">
	<div id="hour-countdown" class="countdown text-dark">
	  <div id="hour-countdown-number"></div>
	  <svg>
	    <circle r="18" cx="20" cy="20"></circle>
	  </svg>
	  <span class="p-1">hour</span>
	</div>

	<div id="min-countdown" class="countdown text-dark">
	  <div id="min-countdown-number"></div>
	  <svg>
	    <circle r="18" cx="20" cy="20"></circle>
	  </svg>
	  <span class="p-1">min</span>
	</div>

	<div id="sec-countdown" class="countdown text-dark">
	  <div id="sec-countdown-number"></div>
	  <svg>
	    <circle r="18" cx="20" cy="20"></circle>
	  </svg>
	  <span class="p-1">sec</span>
	</div>
</div>
